@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/****** phone-sized screen ******/
@media (max-width: 767px) {
body {
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
	background-color: #ffcccc;
}

#header{
	width: 100%;
}

#outerbody {
	min-height: 700px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	display: flex;
	flex-direction: column;
}

#aside {
	width: 100%;
	background-color: #2D3047;
	color: #fafafa;
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
}

#article {
	width: 100%;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
}

#welcome-box {
	text-align: center;
    background-color: #222222;
    vertical-align: bottom;
}

#welcome-box > p {
    color: #ffffff;
    padding: 0px;
    padding-top: 30px;
}

/******************** responsive user page *********/
#profile_aside {
	width: 100%;
	background-color: #2D3047;
	text-align: center;
	padding: 10px;
	color: #fafafa;
	display: flex;
	flex-direction: column;
}

#profile_statuses {
	width: 100%;
	display: flex;
	flex-direction: column;
}
}

/********** tablet-sized screen *********/
@media screen and (min-width: 768px) and (max-width: 991px) {
body {
    min-height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #ffcccc;
}

#header {
	width: 100%;
}

#outerbody {
	min-height: 700px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	display: flex;
	flex-direction: column;
}

#aside {
    width: 67%;
    background-color: #2D3047;
    color: #fafafa;
/*	padding-top:30px;
	padding-bottom:30px;
	height: 330px;
	margin-bottom: -390px;
	display: flex;
	flex-direction: column; */
}

#article {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

#welcome-box {
	width: 33%;
	position: relative;
	left: 67%;	
	height: 390px;
	text-align: center;
	background-color: #222222;
}

#welcome-box > p {
	color: #ffffff;
	padding: 0px;
	padding-top: 30px;
}

/********* responsive user page ************/
#profile_aside {
	width: 67%;
	height: 390px;
	background-color: #2D3047;
	margin-bottom: -390px;
	text-align: center;
	color: #fafafa;
	display: flex;
	flex-direction: column;
}

#profile_statuses {
	width: 100%;
	display: flex;
	flex-direction: column;
}
}

/********** anything wider than a tablet screen size **********/
@media (min-width: 992px) {
body {
	margin: auto;
	padding: 0;
	width: 992px;
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
	background-color: #ffcccc;
}

#header {
	width: 992px;
}

#outerbody {
	min-height: 700px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	display: flex;
	flex-direction: row;
}

#article {
	width: 735px;
	background-color: #ffffff;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#aside {
	width: 257px;
	min-height: 100vh;
	background-color: #2D3047;
	color: #fafafa;
	display: flex;
	vertical-align: top;
	flex-direction: column;
}

/********* BETA TESTING BOX **********/
#welcome-box {
	position: fixed;
	right: 0;
	top: 95%;
	padding: 7px;
	background-color: #222222;
	color: #ffffff;
}

#welcome-box > p {
	color: #ffffff;
}

/*********** responsive user page *********/
#profile_aside {
	width: 257px;
	min-height: 100vh;
	background-color: #2D3047;
	text-align: center;
	color: #fafafa;
	display: flex;
	flex-direction: column;
}

#profile_statuses {
	width: 735px;
	min-height: 100vh;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
}
}
/********** BEGIN UNIVERSAL CSS ***********/
/******** HEADER CSS ********/
#header {
	display: flex;
	z-index: 1;
	position: fixed;
	height: 75px;
	background-color: #EB596A;
	justify-content: space-between;
	margin-top: -75px;
}

.header-visible {
	
}

.header-hidden {

}

#right-menus {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
	padding: 5px;
}

#logo {
	margin: 15px;
}

#kitten {
	width: 75%;
}

#tagline {	
	padding-top: 5px;
	margin: 0;
	font-family: 'Architects Daughter', cursive;
}

/******** 3 NAVY BUTTONS **********/
#menu {
	display: flex;
	
}

.menubuttontext {
	width: 100px;
	height: 25px;
	text-align: center;
	background: linear-gradient(#2D3047, #8287b0);	
	color: #fafafa;
	box-shadow: 3px 3px 6px 0 #333333;
	padding: 5px;
	margin: 2px;
}

a {
	color: #fafafa;
	text-decoration: none;
}

.menubuttontext:hover {
	text-decoration: underline;
	background: linear-gradient(#8287b0, #2D3047);	
}

.menubuttontext:active {
	background-color: #2D3047;
}


#links-topright {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}	

#octopus-link {
	height: 40px;
	width: 100%;
	background-color: #D14353;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-size: 1.2em;
}

#flat-octopus {
	height: 35px;
	padding-left: 7px;
	vertical-align: middle;
	margin-top: -3px;
}

/******* HEADER DONE - START MAIN BODY *********/

#outerbody {
	margin-top:75px;
}

.hidden {
	visibility: none;
}

.user {
	min-height: 120px;
	background-color: #ffffff;
	padding: 15px;
	border-bottom: 1px solid #A5B3B8;
	display: flex;
	flex-direction: column;
}

.user-photo {
	height: 110px;
	width: 120px;
	border: 2px solid #292929;
	align-self: flex-start;
}

.post_and_reply {
	display: flex;
	flex-direction: row;
}

#last-status {
	margin-bottom: 0;
}

h4 {
	margin: 0;
	padding: 5px 0 0 0;
	color: #292929;
}

h3 {
	margin: 0;
	padding: 5px 0 0 0;
	color: #fafafa;
}

p {
	margin: 0;
	padding: 5px;
	color: #292929;
}


#aside_title {
	text-align: center;
}

.best_user_photo_wrapper {
	width: 100%;
	text-align:center;
}

.best-user-photo {
	height: 100px;
	width: 110px;
	border: 2px solid #fafafa;
}

.best_user_bio {
	padding: 8px;
	text-align: center;
}

/******** CSS for user page ************/

#profile_aside > p {
	color: #fafafa;
}

#profile_photo_wrapper {
	text-align: center;
}

#profile_photo {
	height: 100px;
	width: 110px;
	border: 2px solid #fafafa;
}


/*********** css for all users **************/

#user_list {
	min-height: 700px;
	width: 100%;
}

.user_summary {
	min-height: 120px;
    background-color: #ffffff;
    padding: 15px;
   	border-bottom: 1px solid #A5B3B8;
}

.user_summary_image {
	height: 110px;
	float: left;
	border: 2px solid #292929;
	margin-right: 5px;
}

.username_link {
	color: #222222;	
}

/*********** css for iof *************/

h1 {
	font-family: 'Architects Daughter', cursive;
}

#octopus {
	text-align: center;
}

/********** post status css *********/

#submit_status_form {
	display: none;
	width: 100%;
	height: 150px;
	background: #fff;
}

#status_form {
	width: 100%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#status_form_text {
	width: 75%;
	height: 30px;
}

.reply_input_area {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100px;
}

.reply_text {
	width: 75%;
	height: 30px;
}

input[type=text] {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #222;
	font-size: 14px;
	padding-left: 10px;
	border: none;
	background-color: #ffcccc;
}

input[type=text]:focus {
	outline: 3px solid #ebb;
}
/********** css for status button material icon *********/

#post_status {
        width: 100%;
        height: 70px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
}

.button {
	width: 24px;
}

.rotate:hover {
	transform: rotate(90deg);
}

.rotate-backwards:hover {
	transform: rotate(-90deg);
}

.reply_button {
	flex-direction: column;
	display: flex;
}

.reply {
	align-self: center;	
}

i.material-icons {
        font-size: 1.5rem;
        font-family: "Material Icons";
        background-color: #cd8484;
        color: white;
        position: relative;
        border-radius: 50%;
        padding: 5px;
        margin: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;
}

i.material-icons:after {
                content: "";
                width: 100%;
                height: 100%;
                border: solid 2px;
                transform: scale(0.8);
                position: absolute;
                top: -2px;
                left: -2px;
                border-radius: 50%;
                transition: all 0.3s ease;
                border-color: #cd8484;
}

i.material-icons:hover:after {
                transform: scale(1);
                box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

i.material-icons:nth-of-type(1):after {
                border-color: #cd8484;
}

i.material-icons:hover {
                background-color: #fff;
                color: #cd8484;
                cursor: pointer;
                box-shadow: none;
}

